::-webkit-scrollbar-corner{background:transparent;display:none}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background:#dbdbdb;border-radius:30px}
::-webkit-scrollbar-thumb{border-radius:30px;background:#ababab;-webkit-box-shadow:none}
body{overflow-x:hidden;
    /*background: url(img/tiny_grid.png) repeat white;*/
}
#uppermargin{
    background-color: transparent;
    min-height: 75px;
}
#main-container{
    background-color: white;
}
.optionbox{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 80%;
}
#rowoptions>.row{
    background-color: darkgrey;
}
#main-container>.row-fluid{
    margin-bottom: 20px;
    min-height: 30px;
    margin-top: 10px;
    background-color: #EEE;

}
#main-container [class*="span"]{
    background-color: #CECECE;
    cursor: pointer;
}
#main-container [class*="span"]:hover{
    background-color: #AAA;
}
.row-fluid.inselection{
    -webkit-box-shadow: 0px 0px 7px 6px lightBlue;
    -moz-box-shadow: 0px 0px 7px 6px lightBlue;
}
.row-fluid .inselection{
    background-color: #5F5F5F;
     -webkit-box-shadow: 0px 0px 7px 6px lightBlue;
     -moz-box-shadow: 0px 0px 7px 6px lightBlue;
}
.row-fluid [class*="span"]:first-child {
margin-left: 0;
}
/** FOR CODEMIRROR */
#codemirror{
    margin-top: 3%;
    padding: 1%;
}
#componentbox{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
#componentbox>.container-fluid{
margin-top: 3%;
background: rgba(0,0,0,0.2);
height: 84%;
}
#componentbox .row-fluid{
    background-color: white;
    height: 65%;
    margin-top: 6%;
}
#componentbox [class*="span"]{
    padding: 1.1%;
    height: 100%;
border: 2px solid rgba(235, 235, 235, 0.9);
}
#preview{
    height: 300px;
    width: 330px;
}
/**  For Component's CSS *
.dropdown-menu{
display: block;
position: static;
margin-bottom: 5px;
}
*/