::-webkit-scrollbar-corner{background:transparent;display:none}
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background:#dbdbdb;border-radius:30px}
::-webkit-scrollbar-thumb{border-radius:30px;background:#ababab;-webkit-box-shadow:none}
body{overflow-x:hidden;
    /*background: url(builder/tiny_grid.png) repeat white;*/
}
#uppermargin{
    background-color: transparent;
    min-height: 75px;
}
#main-container{
    background-color: white;
}
.optionbox{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 80%;

}
#componentbox{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
#componentbox>.container-fluid{
    margin-top: 8%;
    margin-left: 15%;
    background: white;
}
#componentbox .row-fluid{
    background-color: white;
    margin-top: 9%;
}
#rowoptions>.row{
    background-color: darkgrey;
}
#main-container>.row-fluid{
    margin-bottom: 20px;
    min-height: 30px;
    margin-top: 10px;
    background-color: #EEE;

}
#main-container [class*="span"]{
    background-color: #CECECE;
    cursor: pointer;
}
#main-container [class*="span"]:hover{
    background-color: #AAA;
}
.row-fluid.inselection{
    -webkit-box-shadow: 0px 0px 7px 6px lightBlue;
    -moz-box-shadow: 0px 0px 7px 6px lightBlue;
}
.row-fluid .inselection{
    background-color: #5F5F5F;
     -webkit-box-shadow: 0px 0px 7px 6px lightBlue;
     -moz-box-shadow: 0px 0px 7px 6px lightBlue;
}
.row-fluid [class*="span"]:first-child {
margin-left: 0;
}