/*Resetting css for consistency*/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, 
pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong,
sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,time,mark, 
audio, video {margin: 0;padding: 0;border: 0outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
 body {line-height: 1;}
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
 nav ul {list-style: none;}
 blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
 a {margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
 ins {background-color: #ff9;color: #000;text-decoration: none;}
 mark {background-color: #ff9;color: #000;
 font-style: italic;font-weight: bold;}del {text-decoration:  line-through;}
 abbr[title], dfn[title] {border-bottom: 1px dotted;cursor: help;}
 table {border-collapse: collapse;border-spacing: 0;}
 hr {display: block;height: 1px;border: 0; border-top: 1px solid #cccccc;margin: 1em 0;padding: 0;}
 input, select {  vertical-align: middle;}
.col {display: block;float:left;margin:0;height:300px;border:0;height:100%;}
.row{height:300px;background-color:lightgray;}
.col:first-child { margin-left: 0; }
 
 
/*These are all the widths of elements*/
.span_1_of_2{ width :50%;}
.span_1_of_3{ width :33.33333333333333%;}
 
 
/*Heights and background-color*/
.row:nth-of-type(1){
    height:300px;
}
 
 
.col:nth-child(1){
    background-color:rgb(201,242,10);}
 
 
/*Heights and background-color*/
.row:nth-of-type(2){
    height:300px;
}
 
 
.col:nth-child(2){
    background-color:rgb(236,247,189);}
 
/*Make it responsive dude*/
 
@media only screen and (max-width: 480px) {
.span_1_of_2{ width : 100%;}
.span_1_of_3{ width : 100%;}
}